  <p>
    <strong><%= message.user.first_name %>:</strong> <%= message.content %>
    <p><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></p>
  </p>

  <div
    id="message-<%= message.id %>"
    class="message <%= message.user === user ? 'sent' : 'received' %>"
    data-controller="message"
    data-message-user-id-value="<%= message.user.id %>">
  </div>

  <%= turbo_stream_from "swap_#{@swap.id}_messages" %>
