 <div class="container">
  <div class="user-info-container">
    <div class="profile-picture">
      <%# <%= cl_image_tag @user.photo.key, alt: "Default Profile Picture", class: "profile-icon" %>
    </div>
    <div class="profile-info">
      <h1><%= @user.first_name %> <%= @user.last_name %></h1>
      <p><%= @user.location %></p>
       <p>Books Swapped: <%= @user.swapped_books_count %></p>
    </div>
  </div>
  <div class="profile-btn">
    <%= button_to "Requests", requests_path, method: :get, class: "btn btn-outline-info btn-sm" %>
    <%= button_to "Swaps", swaps_path(current_user), method: :get, class: "btn btn-outline-info btn-sm" %>
  </div>
  <div class="library-container">
    <div class="library-info">
      <h3>My Library</h3>
      <%= button_to "Add Book", new_book_path, method: :get, class: "btn btn-outline-info btn-sm" %>
    </div>
    <div class="books-container">
       <% if @user.books.any? %>
        <% @books.each do |book| %>
          <div class="book-card">

            <%= cl_image_tag book.photo.key, alt: book.title, class: "book-cover" if book.photo.key.present? %>

            <h3><%= book.title %></h3>
            <%= link_to 'Delete', profile_path, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
          </div>
        <% end %>
      <% else %>
        <p>You don't have any books in your library yet.</p>
      <% end %>
    </div>
  </div>
</div>
