 <div class="container">
  <div class="user-info-container">
    <div class="profile-picture">
      <%= cl_image_tag current_user.photo.key, alt: "Default Profile Picture", class: "profile-icon" %>
    </div>
    <div class="profile-info">
      <h1><%= current_user.first_name %> <%= current_user.last_name %></h1>
      <p><%= current_user.location %></p>
       <p>Books Swapped: <%= current_user.swapped_books_count %></p>
    </div>
  </div>
  <div class="profile-btn">
    <%= button_to "Requests", requests_path, method: :get, class: "btn btn-outline-info btn-sm" %>
  </div>

<div class="swaps-div">
<h3>Swaps</h3>
<% if @swaps_pending.any? %>
   <% @swaps_pending.each do |swap| %>
  <div class="swap-card">
    <h4>Swap with <%= swap.user == current_user ? swap.request.user.first_name : swap.user.first_name %></h4>
    <p><strong>My Book:</strong> <%= swap.book.title %></p>
    <p><strong>Requested Book:</strong> <%= swap.request.book.title %></p>
     <%= link_to "Message", swap_path(swap), class: "btn btn-info" %>
     <%# <%= button_to "Swapped", swap_path(@swap), method: :patch, class: "btn btn-success", data: { confirm: "Are you sure you want to confirm this swap and update your libraries?" } %>
  </div>
  <% end %>
<% else %>
  <p>No pending swaps.</p>
<% end %>
</div>


  <div class="library-container">
    <div class="library-info">
      <h3>My Library</h3>

    </div>
    <%= button_to "Add Book", new_book_path, method: :get, class: "btn btn-outline-info btn-sm" %>
    <div class="books-container">
       <% if current_user.books.any? %>
        <% @books.each do |book| %>
          <hr class="line">
          <div class="book-card">
            <div class="card-body">
              <h4 class="card-title"><%= book.title.downcase %></h4>
                <p><%= book.author %></p>
                <%= link_to 'ðŸ—‘ï¸', book_path(book), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
            </div>
            <%= cl_image_tag book.photo.key, alt: book.title, class: "card-image-top" if book.photo.key.present? %>
          </div>
      <% end %>
    </div>
    <% else %>
      <p>You don't have any books in your library yet.</p>
    <% end %>
    </div>
  </div>
</div>
