 <div class="container">
  <div class="user-info-container">
    <div class="profile-picture">
      <%= image_tag "profile-user.png", alt: "Default Profile Picture", class: "default-profile-icon" %>
    </div>
    <div class="profile-info">
      <h1><%= @user.first_name %> <%= @user.last_name %></h1>
      <p><%= @user.location %></p>
    </div>
  </div>
  <div class="profile-btn">
    <%= button_to "Add Book", "#", method: :get, class: "btn btn-primary" %>
    <%= button_to "Requests", "#", method: :get, class: "btn btn-primary" %>
  </div>
</div>
