<div class="container">
  <div class="user-info-container">
    <div class="profile-picture">
      <%= cl_image_tag @user.photo.key, alt: "Default Profile Picture", class: "profile-icon" %>
    </div>
    <div class="profile-info">
      <h1><%= @user.first_name %> <%= @user.last_name %></h1>
      <p><%= @user.location %></p>
      <p>Books Swapped: <%= @user.swapped_books_count =%></p>
    </div>
  </div>

  <div class="library-container">
    <div class="library-info">
      <h3><%= @user.first_name %>'s Library</h3>
    </div>

    <div class="books-container">
  <% if @user.books.any? %>
    <% @user.books.each do |book| %>
      <hr class="line">
      <div class="book-card">

          <div class="card-body-user-show">
            <h4 class="card-title"><%= book.title.downcase %></h4>
            <p><%= book.author %></p>
            <p><%= book.genre %></p>
          </div>

        <%= cl_image_tag book.photo.key, alt: book.title, class: "card-image-top" if book.photo.key.present? %>
      </div>
            <% if current_user.requests_as_owner.where(user: @user).any? %>
              <%= button_to "swap", request_user_swaps_path(@request, @user), method: :post, params: { swap: { book_id: book.id } }, id: "custom-swap-button", class: "btn btn-outline-info" %>
            <% else %>
              <%= button_to "request", book_requests_path(book), method: :post, params: { request: { book_id: book.id } }, id: "custom-swap-button", class: "btn btn-outline-info" %>
            <% end %>
    <% end %>
  <% else %>
    <p><%= @user.first_name %> hasn't added any books to their library yet.</p>
  <% end %>
    </div>
  </div>
</div>
<%# checking to see if there are any request between two users .any? %>
<%# check if there are any requests .any? %>
<%# when you click swap -> link to back to current users profile page - to see confirmed swap - that has a message button%>
<%# <%= button_to "Swap", book_requests_path(book), method: :post, params: { request: { book_id: book.id } }, class: "btn btn-outline-info" %>
