  <div class="container-banner-logo">
    <div class="top-banner">
      <h1>BookSwap</h1>
    </div>
  </div>


<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-bottom">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <% if user_signed_in? %>
        <!-- Home Button -->
        <li class="nav-item active">
          <%= link_to books_path, class: "nav-link text-center" do %>
            <i class="fa-solid fa-book" style="color: #f7fffe;"></i>
          <% end %>
        </li>

        <!-- Messages Button -->
        <li class="nav-item">
          <%= link_to new_book_path, class: "nav-link text-center" do %>
            <i class="fa-solid fa-plus" style="color: #f9faff;"></i>

          <% end %>
        </li>

        <!-- Profile Button -->
        <li class="nav-item">
          <%= link_to profile_path, class: "nav-link text-center" do %>
            <%= cl_image_tag current_user.photo.key, class: "avatar", alt: "Profile" %>
          <% end %>
        </li>

      <% else %>
        <!-- Login Button if not signed in -->
        <li class="nav-item">
          <%= link_to new_user_session_path, class: "nav-link text-center" do %>
            <i class="fas fa-sign-in-alt nav-icon"></i>
            <br>Login
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
