<div class="container">
  <h1 class="request-title">requests made to me</h1>

  <div class="requests-list">
    <% @requested_books.each do |request| %>

    <div class="request-item">

    <div class="request-book-info">

      <div class="request-text">
        <p><%= request.user.first_name %> wants </p>
        <p><%= request.book.title.downcase %></p>
      </div>

      <%# <%= cl_image_tag request.book.photo.key, alt: book.title, class: "book-cover" if book.photo.key.present? %>
      </div>

        <div class="request-options">
          <%= link_to "choose a book",  request_user_path(request, request.user), class: "btn btn-outline-info" %>
          <div class="delete-button">
              <%= link_to raw('<i class="fa-solid fa-xmark" style="color: #d8e0d2;"></i>'), "#", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
            </div>
        </div>

      </div>
    <% end %>
  </div>

  <h1 class="request-title">my requests</h1>
  <p><%= current_user.first_name %>, you have requested: </p>
  <% if @requests.any? %>

    <div class="requests-list">
      <% @requests.each do |request| %>

        <div class="request-item">

          <div class="request-book-info">

            <div class="request-info">
              <p><%= request.book.title.downcase %></p>
              <p><%= request.book.author %></p>
            </div>

            <%= cl_image_tag request.book.photo.key, alt: "Card image cap", class: "request-img-top" %>
          </div>

          <div class="request-options">
            <%= link_to "details", book_path(request.book), class: "btn btn-outline-info" %>
            <div class="delete-button">
              <%= link_to raw('<i class="fa-solid fa-xmark" style="color: #d8e0d2;"></i>'), "#", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
            </div>
          </div>

        </div>

      <% end %>
    </div>

  <% else %>
    <p>You have no requests</p>
    <%= link_to "request a book", books_path, class: "btn btn-primary" %>
  <% end %>


</div>
