
<% @books.each do |book| %>
  <div class="book-card">
    <%= cl_image_tag book.photo.key, alt: "Card image cap", class: "card-img-top" %>
    <div class="card-body">
      <h5 class="card-title"><%= book.title %></h5>
            <p><strong>Author:</strong> <%= book.author %></p>
            <p><strong>Genre:</strong> <%= book.genre %></p>
            <p><strong>Publish Date:</strong> <%= book.publish_date %></p>
    </div>
  </div>
<% end %>

