<!-- #create form and add name, publish date, title -->

<div class="add-book-container">
  <%# <h2>add book</h2> %>
  <div class="add-book-form-isbn">
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">ISBN</button>
        <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Manual</button>
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <%= simple_form_for @book do |f| %>
          <%= f.input :barcode, label: false, as: :string, placeholder: "ISBN", required: true %>
          <%= f.submit "Add Book", class: "btn btn-primary" %>
        <% end %>
      </div>
      <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
        <div class="add-book-form-manual">
          <%= simple_form_for @book do |f| %>
          <%# <h2>add manually</h2> %>
            <%= f.input :title, label: false, placeholder: "Title", required: true %>
            <%= f.input :author, label: false, placeholder: "Author", required: true %>
            <%= f.input :publish_date, label: false, placeholder: "Publish Date", required: true %>
            <%= f.input :genre, label: false, placeholder: "Genre", required: true %>
            <%= f.input :photo, label: false, as: :file, required: true %>
            <%= f.submit "Add Book", class: "btn btn-secondary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
