<h1><%= @book.title %></h1>
<div class="container-for-book-details">
  <div class="book-details">
    <img src="https://via.placeholder.com/150" alt="book cover" class="book-details-image">

   <div class="book-details-info">
      <h1><%= @book.title %></h1>
      <p>By: <%= @book.author %></p>
      <p>Published: <%= @book.publish_date %></p>
      <p>Genre: <%= @book.genre %></p>
      <%= button_to "Swap Book", book_requests_path(@book), method: :post, params: { request: { book_id: @book.id } }, class: "btn btn-outline-info" %>
    </div>
  </div>

  <h2>Reviews</h2>
  <% @book.reviews.each do |review| %>
    <div class="review">
      <p><strong><%= review.user.name %>:</strong> <%= review.comment %></p>
    </div>
  <% end %>

  <%= simple_form_for [@book, @review] do |f| %>
    <%= f.input :comment, placeholder: "Write a review...", required: true %>
    <%= f.submit "Submit", class: "btn btn-primary" %>
  <% end %>
</div>
