<div class="container">
  <div class="book-details">
    <%= cl_image_tag @book.photo.key, alt: "Card image cap", class: "book-show-image" %>

   <div class="book-details-info">
        <h1><%= @book.title.downcase %></h1>
        <div class="book-info-card">
        <p><%= @book.author %></p>
        <p><%= @book.publish_date %></p>
        <p><%= @book.genre %></p>
      </div>
      <%= button_to "request", book_requests_path(@book), method: :post, class: "btn btn-outline-info" %>
    </div>
  </div>


<div class="reviews-container">
  <%= simple_form_for [@book, @review] do |f| %>
    <%= f.input :comment, placeholder: "Write a review...", required: true %>
    <%= f.input :rating, as: :select, collection: 0..5, label: "Rating (0-5)" %>
    <%= f.submit "Submit", class: "btn.btn-outline-info" %>
  <% end %>
</div>


  <h2 class="review-header">reviews</h2>
  <% if @book.reviews.any? %>
    <% @book.reviews.each do |review| %>
      <div class="review">
        <p> <%= review.comment %></p>

        <div class="rating-name">
          <p><%= review.user.first_name %> </p>
        </div>

        <div class="rating-stars">
          <% review.rating.times do %>
            <%= image_tag("pointed-star.png", alt: "Star", class: "star-icon") %>
          <% end %>
        </div>

          <p class="rating-time"><%= review.created_at.strftime("%a %b %e") %></p>

        <% if current_user == review.user %>
          <%= link_to 'Delete', book_review_path(@book, review), method: :delete, data: { confirm: "Are you sure?" } %>
        <% end %>
  </div>
    <% end %>
  <% else %>
    <p>No reviews yet. Be the first to leave a review!</p>
  <% end %>

</div>
