<div class="container">
  <div class="book-details">
    <%= cl_image_tag @book.photo.key, alt: "Card image cap", class: "book-show-image" %>

   <div class="book-details-info">
        <h1><%= @book.title.downcase %></h1>
        <div class="book-info-card">
        <p><%= @book.author %></p>
        <p><%= @book.publish_date %></p>
        <p><%= @book.genre %></p>
      </div>
      <%= button_to "request", book_requests_path(@book), method: :post, class: "btn btn-outline-info" %>
    </div>
  </div>


<h3 class="review-header">what did you think?</h3>
<div class="reviews-container">
  <%= simple_form_for [@book, @review] do |f| %>
    <%= f.input :comment, placeholder: "leave a review...", required: true, label: false, input_html: { class: "review-form" } %>
    <%= f.input :rating, prompt: "rating (0..5)", as: :select, collection: 0..5, label: false, input_html: { class: "review-form" } %>
    <%= f.submit "Submit", class: "btn btn-outline-info btn-sm", id: "custom-submit-button" %>
  <% end %>
</div>


  <h3 class="review-header">reviews</h3>
  <% if @book.reviews.any? %>
    <% @book.reviews.each do |review| %>
      <div class="review">
        <p class="review-comment"> <%= review.comment %></p>

      <div class="rating-info">
        <div class="rating-name">
          <p><%= review.user.first_name %> </p>
        </div>

        <div class="rating-stars">
          <% review.rating.times do %>
              <%= image_tag("pointed-star.png", alt: "Star", class: "star-icon") %>
          <% end %>
        </div>

        <% if current_user == review.user %>
          <div class="delete-button">
            <%= link_to raw('<i class="fa-solid fa-xmark" style="color: #d8e0d2;"></i>'), book_review_path(@book, review), method: :delete, data: { confirm: "Are you sure?" } %>
          </div>
        <% end %>

      </div>

      <p class="rating-time"><%= review.created_at.strftime("%d %b %Y") %></p>

  </div>
    <% end %>
  <% else %>
    <p>No reviews yet. Be the first to leave a review!</p>
  <% end %>

</div>
