<div class="container">
  <div class="book-details">
    <%= cl_image_tag @book.photo.key, alt: "Card image cap", class: "book-show-image" %>

   <div class="book-details-info">
        <h1><%= @book.title.downcase %></h1>
        <div class="book-info-card">
        <p><%= @book.author %></p>
        <p><%= @book.publish_date %></p>
        <p><%= @book.genre %></p>
      </div>
      <%= button_to "request", book_requests_path(@book), method: :post, class: "btn btn-outline-info" %>
    </div>
  </div>



  <%= simple_form_for [@book, @review] do |f| %>
    <%= f.input :comment, placeholder: "Write a review...", required: true %>
    <%= f.input :rating, as: :select, collection: 0..5, label: "Rating (0-5)" %>
    <%= f.submit "Submit", class: "btn btn-primary" %>
  <% end %>

  <h2>Reviews</h2>
  <% if @book.reviews.any? %>
    <% @book.reviews.each do |review| %>
      <div class="review">
        <p><strong><%= review.user.first_name %>:</strong> <%= review.comment %> <%= review.rating %></p>
        <% if current_user == review.user %>
          <%= link_to 'Delete', book_review_path(@book, review), method: :delete, data: { confirm: "Are you sure?" } %>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <p>No reviews yet. Be the first to leave a review!</p>
  <% end %>

</div>
