<h1>Swaps</h1>

<% @swaps.each do |swap| %>
  <% if swap.confirmed? %>
      <h2>Swap with <%= swap.request.first_name %> <%= swap.request.last_name %></h2>
      <p>Book: <%= swap.book.title %> by <%= swap.book.author %></p>
      <%= link_to "View messages", swap_messages_path(swap), class: "btn btn-primary" %>
  <% end %>
<% end %>

<% if @swap.present? %>
  <h2>Swap with <%= @swap.request.first_name %></h2>
   <% @messages.each do |message| %>
      <p>
        <strong><%= message.user.name %>:</strong> <%= message.content %>
      </p>
    <% end %>

  <%= simple_form_for (@swap, Message.new) do |f| %>
    <%= f.input :content, placeholder: "Let's swap books...", required: true %>
    <%= f.submit "Send", class: "btn btn-primary" %>
  <% end %>
<% end %>
